@{
    ViewData["Title"] = "Punto de Venta";
}

<div class="text-center">
    <img style="aspect-ratio:2560/1689;"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/2560px-H%26M-Logo.svg.png"
        width="52" height="34"></img>

    <h1 class="display-4" style="text-align:center;">Punto de Venta <span style="color:#d32f2f;">H&amp;M</span></h1>
    <p style="text-align:center;">Bienvenido. Por favor, ingresa tu correo y contraseña para continuar.</p>
</div>
