@{
    ViewData["Title"] = "Privacidad";
}

<div class="text-center">

    <h1 class="display-4" style="text-align:center;">Política de Privacidad <span style="color:#d32f2f;">H&amp;M</span></h1>
</div>
