@{
    ViewData["Title"] = "Venta";
}
<h1>@ViewData["Venta"]</h1>

<form asp-action="AgregarProductos" asp-controller="VentaControlador" method="post">
    <button type="submit" class="btn btn-primary">Procesar Venta</button>
</form>